@import "tailwindcss";

:root {
  --background: #ebf2f0;      /* light from Tailwind config */
  --foreground: #253642;      /* dark from Tailwind config */
  --primary: #132d2e;         /* primary from Tailwind config */
  --secondary: #3f8578;       /* secondary from Tailwind config */
  --font-sans: 'Arial', 'sans-serif';         /* body font from Tailwind config */
  --font-heading: 'Segoe UI', 'sans-serif';   /* heading font from Tailwind config */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--secondary);    /* dark from Tailwind config */
    --foreground: #ebf2f0;    /* light from Tailwind config */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);

}
input{
  color: black;
}
select,option{
  color:black
}

.btn-slide {
  background: linear-gradient(to right, #3f8578 50%, black 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.5s ease-out;
  color: white;
  border: none;
}

.btn-slide:hover {
  background-position: right bottom;
  cursor: pointer;
}


/* button, .btn {
  background-color: var(--foreground);
  color: var(--secondary);
  font-family: var(--font-sans);
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, .btn:hover {
  background-color: var(--background);
  color: var(--primary);
} */
